@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    padding: 0;
    margin: 0;

    
   
}

/* styles/UserHeader.css */
/* WaterEffect.css */

.water-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.svg-bg {
  width: 100%;
  height: 100%;

}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 25s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate 2s linear infinite;
}
@keyframes modalPop {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modalPop {
  animation: modalPop 0.25s ease-out forwards;
}

